@import "tailwindcss";

* {
  font-family: "JetBrains Mono", monospace;
}

@theme {
  --color-background-primary: #0A0A0A;
  --color-line-primary: #222222;
}

@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.02) 1px,
        transparent 1px
      ),
      linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 50px 50px;
  }
  .hover\:shadow-neon:hover {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.5),
      0 0 40px rgba(59, 130, 246, 0.3), 0 0 60px rgba(59, 130, 246, 0.1);
  }
}